# Información sobre .gitignore https://docs.github.com/get-started/git-basics/ignoring-files

# Build
target/

# Java
*.class
*.jar
*.war

# Logs
*.log

# Configuración
.env*

# Sistema
.DS_Store
Thumbs.db

# Archivos agregados al inicializar el proyecto en Spring Initializr
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
